In [1]:
print(rec) = pd.read_csv('pandadatarecthis.csv', skiprows=[0,1,2,3], index_col = 3, header = 0)

SyntaxError: can't assign to function call (<ipython-input-1-7c0e15bf7908>, line 1)

In [2]:
rec = pd.read_csv('pandadatarecthis.csv', skiprows=[0,1,2,3], index_col = 3, header = 0)

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

In [4]:
rec = pd.read_csv('pandadatarecthis.csv', skiprows=[0,1,2,3], index_col = 3, header = 0)

In [5]:
print(rec)

          Loomis_Account_Name  Bank Account Break Type-Separate Accounts  \
Security
042735BC3                abca         1234a                  Outstanding
717081103                abcd         1234g                  Outstanding
92826C839                abce         1234a                  Outstanding
02079K107                efgi         4567y                  Outstanding
31162100                 efgr         4567f                  Outstanding
03523TBP2                efgw         4567b                  Outstanding

                                Description  Local Curr  Qty Loomis  Qty Bank  \
Security
042735BC3     ARROW ELECTRONICS INC20230301         NaN       19999     20008
717081103                        PFIZER INC         NaN         399       455
92826C839             VISA INC-CLASS A SHRS         NaN         199       600
02079K107                 ALPHABET INC-CL C         NaN         509     99988
31162100                          AMGEN INC         NaN         996       779
03523TBP2  ANHEUSER-BUSCH INBEV WOR20220715         NaN       19999     20000

           Qty Var  Local Prc Loomis    Local Prc Bank    ...     MV Var  \
Security                                                  ...
042735BC3       -9               NaN             103.67   ...          0
717081103      -56               NaN              40.61   ...          0
92826C839     -401               NaN             164.43   ...          0
02079K107   -99479               NaN            1188.48   ...          0
31162100       217               NaN             179.32   ...          0
03523TBP2       -1               NaN              98.89   ...          0

           MV Var(%)  Base Cost Loomis  Base Cost  Bank  Cost Var  \
Security
042735BC3          0                 0                0         0
717081103          0                 0                0         0
92826C839          0                 0                0         0
02079K107          0                 0                0         0
31162100           0                 0                0         0
03523TBP2          0                 0                0         0

           Base Accr Loomis  Base Accr Bank  Accr Var (%)  Basis_Pt (%)  \
Security
042735BC3                 0               0             0             0
717081103                 0               0             0             0
92826C839                 0               0             0             0
02079K107                 0               0             0             0
31162100                  0               0             0             0
03523TBP2                 0               0             0             0

           Comment
Security
042735BC3      NaN
717081103      NaN
92826C839      NaN
02079K107      NaN
31162100       NaN
03523TBP2      NaN

[6 rows x 23 columns]

In [6]:
rec

,Loomis_Account_Name,Bank Account,Break Type-Separate Accounts,Description,Local Curr,Qty Loomis,Qty Bank,Qty Var,Local Prc Loomis,Local Prc Bank,...,MV Var,MV Var(%),Base Cost Loomis,Base Cost Bank,Cost Var,Base Accr Loomis,Base Accr Bank,Accr Var (%),Basis_Pt (%),Comment
Security,,,,,,,,,,,,,,,,,,,,,
042735BC3,abca,1234a,Outstanding,ARROW ELECTRONICS INC20230301,NaN,19999,20008,-9,NaN,103.67,...,0,0,0,0,0,0,0,0,0,NaN
717081103,abcd,1234g,Outstanding,PFIZER INC,NaN,399,455,-56,NaN,40.61,...,0,0,0,0,0,0,0,0,0,NaN
92826C839,abce,1234a,Outstanding,VISA INC-CLASS A SHRS,NaN,199,600,-401,NaN,164.43,...,0,0,0,0,0,0,0,0,0,NaN
02079K107,efgi,4567y,Outstanding,ALPHABET INC-CL C,NaN,509,99988,-99479,NaN,1188.48,...,0,0,0,0,0,0,0,0,0,NaN
31162100,efgr,4567f,Outstanding,AMGEN INC,NaN,996,779,217,NaN,179.32,...,0,0,0,0,0,0,0,0,0,NaN
03523TBP2,efgw,4567b,Outstanding,ANHEUSER-BUSCH INBEV WOR20220715,NaN,19999,20000,-1,NaN,98.89,...,0,0,0,0,0,0,0,0,0,NaN

In [7]:
rec = rec['Qty Var']>0

In [8]:
rec

Security
042735BC3    False
717081103    False
92826C839    False
02079K107    False
31162100      True
03523TBP2    False
Name: Qty Var, dtype: bool

In [9]:
rec1 = rec[rec('Qty Var')]>0

TypeError: 'Series' object is not callable

In [10]:
ouroftlerance1 = rec['Qty Var'] < -200

KeyError: 'Qty Var'

In [11]:
rec

Security
042735BC3    False
717081103    False
92826C839    False
02079K107    False
31162100      True
03523TBP2    False
Name: Qty Var, dtype: bool

In [12]:
data =  pd.read_csv('pandadatarecthis.csv', skiprows=[0,1,2,3], index_col = 3, header = 0)

In [13]:
data

,Loomis_Account_Name,Bank Account,Break Type-Separate Accounts,Description,Local Curr,Qty Loomis,Qty Bank,Qty Var,Local Prc Loomis,Local Prc Bank,...,MV Var,MV Var(%),Base Cost Loomis,Base Cost Bank,Cost Var,Base Accr Loomis,Base Accr Bank,Accr Var (%),Basis_Pt (%),Comment
Security,,,,,,,,,,,,,,,,,,,,,
042735BC3,abca,1234a,Outstanding,ARROW ELECTRONICS INC20230301,NaN,19999,20008,-9,NaN,103.67,...,0,0,0,0,0,0,0,0,0,NaN
717081103,abcd,1234g,Outstanding,PFIZER INC,NaN,399,455,-56,NaN,40.61,...,0,0,0,0,0,0,0,0,0,NaN
92826C839,abce,1234a,Outstanding,VISA INC-CLASS A SHRS,NaN,199,600,-401,NaN,164.43,...,0,0,0,0,0,0,0,0,0,NaN
02079K107,efgi,4567y,Outstanding,ALPHABET INC-CL C,NaN,509,99988,-99479,NaN,1188.48,...,0,0,0,0,0,0,0,0,0,NaN
31162100,efgr,4567f,Outstanding,AMGEN INC,NaN,996,779,217,NaN,179.32,...,0,0,0,0,0,0,0,0,0,NaN
03523TBP2,efgw,4567b,Outstanding,ANHEUSER-BUSCH INBEV WOR20220715,NaN,19999,20000,-1,NaN,98.89,...,0,0,0,0,0,0,0,0,0,NaN

In [14]:
ouroftlerance1 = data['Qty Var'] < -200

In [15]:
ouroftlerance1

Security
042735BC3    False
717081103    False
92826C839     True
02079K107     True
31162100     False
03523TBP2    False
Name: Qty Var, dtype: bool

In [16]:
ouroftlerance1[data]

TypeError: Indexing a Series with DataFrame is not supported, use the appropriate DataFrame column

In [17]:
data[data]

ValueError: Must pass DataFrame with boolean values only

In [18]:
data[ouroftlerance1]

,Loomis_Account_Name,Bank Account,Break Type-Separate Accounts,Description,Local Curr,Qty Loomis,Qty Bank,Qty Var,Local Prc Loomis,Local Prc Bank,...,MV Var,MV Var(%),Base Cost Loomis,Base Cost Bank,Cost Var,Base Accr Loomis,Base Accr Bank,Accr Var (%),Basis_Pt (%),Comment
Security,,,,,,,,,,,,,,,,,,,,,
92826C839,abce,1234a,Outstanding,VISA INC-CLASS A SHRS,NaN,199,600,-401,NaN,164.43,...,0,0,0,0,0,0,0,0,0,NaN
02079K107,efgi,4567y,Outstanding,ALPHABET INC-CL C,NaN,509,99988,-99479,NaN,1188.48,...,0,0,0,0,0,0,0,0,0,NaN

In [19]:
ouroftlerance2 = data['Qty Var'] !=0

In [20]:
ouroftlerance2

Security
042735BC3    True
717081103    True
92826C839    True
02079K107    True
31162100     True
03523TBP2    True
Name: Qty Var, dtype: bool

In [21]:
ouroftlerance2 = data['Qty Var'] !=199

In [22]:
ouroftlerance2

Security
042735BC3    True
717081103    True
92826C839    True
02079K107    True
31162100     True
03523TBP2    True
Name: Qty Var, dtype: bool

In [23]:
data[ouroftlerance2]

,Loomis_Account_Name,Bank Account,Break Type-Separate Accounts,Description,Local Curr,Qty Loomis,Qty Bank,Qty Var,Local Prc Loomis,Local Prc Bank,...,MV Var,MV Var(%),Base Cost Loomis,Base Cost Bank,Cost Var,Base Accr Loomis,Base Accr Bank,Accr Var (%),Basis_Pt (%),Comment
Security,,,,,,,,,,,,,,,,,,,,,
042735BC3,abca,1234a,Outstanding,ARROW ELECTRONICS INC20230301,NaN,19999,20008,-9,NaN,103.67,...,0,0,0,0,0,0,0,0,0,NaN
717081103,abcd,1234g,Outstanding,PFIZER INC,NaN,399,455,-56,NaN,40.61,...,0,0,0,0,0,0,0,0,0,NaN
92826C839,abce,1234a,Outstanding,VISA INC-CLASS A SHRS,NaN,199,600,-401,NaN,164.43,...,0,0,0,0,0,0,0,0,0,NaN
02079K107,efgi,4567y,Outstanding,ALPHABET INC-CL C,NaN,509,99988,-99479,NaN,1188.48,...,0,0,0,0,0,0,0,0,0,NaN
31162100,efgr,4567f,Outstanding,AMGEN INC,NaN,996,779,217,NaN,179.32,...,0,0,0,0,0,0,0,0,0,NaN
03523TBP2,efgw,4567b,Outstanding,ANHEUSER-BUSCH INBEV WOR20220715,NaN,19999,20000,-1,NaN,98.89,...,0,0,0,0,0,0,0,0,0,NaN

In [24]:
data[ouroftlerance1]

,Loomis_Account_Name,Bank Account,Break Type-Separate Accounts,Description,Local Curr,Qty Loomis,Qty Bank,Qty Var,Local Prc Loomis,Local Prc Bank,...,MV Var,MV Var(%),Base Cost Loomis,Base Cost Bank,Cost Var,Base Accr Loomis,Base Accr Bank,Accr Var (%),Basis_Pt (%),Comment
Security,,,,,,,,,,,,,,,,,,,,,
92826C839,abce,1234a,Outstanding,VISA INC-CLASS A SHRS,NaN,199,600,-401,NaN,164.43,...,0,0,0,0,0,0,0,0,0,NaN
02079K107,efgi,4567y,Outstanding,ALPHABET INC-CL C,NaN,509,99988,-99479,NaN,1188.48,...,0,0,0,0,0,0,0,0,0,NaN

In [25]:
data[ouroftlerance1, ouroftlerance2]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [26]:
data[ouroftlerance1 & ouroftlerance2]

,Loomis_Account_Name,Bank Account,Break Type-Separate Accounts,Description,Local Curr,Qty Loomis,Qty Bank,Qty Var,Local Prc Loomis,Local Prc Bank,...,MV Var,MV Var(%),Base Cost Loomis,Base Cost Bank,Cost Var,Base Accr Loomis,Base Accr Bank,Accr Var (%),Basis_Pt (%),Comment
Security,,,,,,,,,,,,,,,,,,,,,
92826C839,abce,1234a,Outstanding,VISA INC-CLASS A SHRS,NaN,199,600,-401,NaN,164.43,...,0,0,0,0,0,0,0,0,0,NaN
02079K107,efgi,4567y,Outstanding,ALPHABET INC-CL C,NaN,509,99988,-99479,NaN,1188.48,...,0,0,0,0,0,0,0,0,0,NaN

In [27]:
data[ouroftlerance1 | ouroftlerance2]

,Loomis_Account_Name,Bank Account,Break Type-Separate Accounts,Description,Local Curr,Qty Loomis,Qty Bank,Qty Var,Local Prc Loomis,Local Prc Bank,...,MV Var,MV Var(%),Base Cost Loomis,Base Cost Bank,Cost Var,Base Accr Loomis,Base Accr Bank,Accr Var (%),Basis_Pt (%),Comment
Security,,,,,,,,,,,,,,,,,,,,,
042735BC3,abca,1234a,Outstanding,ARROW ELECTRONICS INC20230301,NaN,19999,20008,-9,NaN,103.67,...,0,0,0,0,0,0,0,0,0,NaN
717081103,abcd,1234g,Outstanding,PFIZER INC,NaN,399,455,-56,NaN,40.61,...,0,0,0,0,0,0,0,0,0,NaN
92826C839,abce,1234a,Outstanding,VISA INC-CLASS A SHRS,NaN,199,600,-401,NaN,164.43,...,0,0,0,0,0,0,0,0,0,NaN
02079K107,efgi,4567y,Outstanding,ALPHABET INC-CL C,NaN,509,99988,-99479,NaN,1188.48,...,0,0,0,0,0,0,0,0,0,NaN
31162100,efgr,4567f,Outstanding,AMGEN INC,NaN,996,779,217,NaN,179.32,...,0,0,0,0,0,0,0,0,0,NaN
03523TBP2,efgw,4567b,Outstanding,ANHEUSER-BUSCH INBEV WOR20220715,NaN,19999,20000,-1,NaN,98.89,...,0,0,0,0,0,0,0,0,0,NaN